* {
    margin:0;
    padding:0;
    box-sizing: 0;
}

:root{
    --rosa_claro: #FFD4EA;
    --rosa_forte: #EC4399;
    --branco: #fff;
}


.feed{
    
    background-image: url("./assets/FundoB.png");
    grid-area: container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    /* background-color: var(--rosa_claro); */
    /* display: flex;
    flex-direction: column;
    /* width: 90rem;
    height: 64rem; */

}

header{
    grid-area: header;
    flex-shrink: 0;
    background-color: var(--rosa_forte);
}

.espacamento{
    gap: 30px;
}

.entrar{
    width: 10.313rem;
    height: 2.5rem;
    flex-shrink: 0;
    background: var(--rosa_claro);
    color: var(--rosa_forte);
    border-radius: 1.875rem;
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}


.pesquisar{
    align-items: center;
    width: 30.625rem;
    height: 1.5rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--branco);
    border: none;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

input::placeholder{
    color: var(--rosa_forte);
}

.postbox{
    background-color: var(--branco);
    border-radius: 0.938rem;
    box-shadow: 0rem 0.25rem 0.25rem transparent;
}

.grid{
    display: grid;
    grid-template-rows: 10vh 35vh 50vh;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: 'nav header' 
                         'nav container'
                         'nav container'
    ;
}

.menu{
    background-color: var(--branco);
    grid-area: nav;
    left: 0;
    top: 0;
    border: 0px none;
    height: 1024px;
    position: fixed;
    width: 419px;
    
}

.logomenu{
        padding: 40px;
        border: 0px none;
        height: 120px;
        width: 382px;
        left: 0;
        object-fit: cover;
        position: fixed;
        top: 0;
}

.disquetexto{
  border: none;
  display: flex;
    width: 109px;
    height: 54px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

}

.menuicones{
    width: 36px;
    height: 35px;
}


#BodyCss {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 130px;
    left: 5;
    position:fixed;
    top: 20%;
    width: 832px;
    padding: 1%;
    

  }
  
.imagemCss{
    height: 30px ;
    width: 42px;
    position: fixed;
    object-fit: cover;
    position: fixed;
}

.imagemCss2{
    height: 24px;
    width: 24px;
    left: 1;
    position: absolute;
}

.label {
    border: 0px none;
    height: 54px;
    width: 60px;
  }
  


.Paragrafo{
    color: var(--rosa_forte);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 10px;
    left: 3;
    letter-spacing: -0.5px;
    line-height: 48px;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 20px;
}

